<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.infiniteuny.mediapembelajaran">

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.login.TeacherLoginActivity"></activity>
        <activity android:name=".ui.quiz.QuizTrueFalseActivity" />
        <activity android:name=".ui.login.SelectAccountActivity" />
        <activity android:name=".ui.pembahasan.ActivityPembahasan" />
        <activity android:name=".ui.rekap.RekapNilaiActivity" />
        <activity android:name=".ui.kikd.KikdActivity" />
        <activity android:name=".ui.teacher.TeacherDashActivity" />
        <activity android:name=".ui.quiz.QuizResultActivity" />
        <activity android:name=".ui.quiz.QuizOnlineActivity" />
        <activity android:name=".ui.soal.SoalActivity" />
        <activity android:name=".ui.detail_materi.DetailMateriActivity" />
        <activity android:name=".ui.quiz.QuizActivity" />
        <activity android:name=".ui.materi.MateriActivity" />
        <activity android:name=".ui.manual.ManualActivity" />
        <activity android:name=".ui.setting.SettingActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.splash.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.SoundService"
            android:enabled="true" />
    </application>

</manifest>